<h1>User</h1>
<div class="row justify-content-md-start">
  <divv class="col">
    {{customOrFramework}}
    {{#each categories}}
      <div class="row">
        <div class="col-3 display-flex-start">
          <label for={{this.name}} class="col-sm-2 col-form-label">{{this.name}}</label>
        </div>
        {{{ this }}}
        <div class="col-2 display-flex-start">
          <select title={{this}} id={{this}} class="form-select user-data-selector" aria-label="Default select example">
            {{#times}}
              <option value={{this}}>{{this}}</option>
            {{/times}}
          </select>
        </div>
      </div>
    {{/each}}
    <div class="row">
      <div class="col-2 display-flex-start">
        <button class="form-control" type="button" onclick="addUserData()"> Add</button>
      </div>
    </div>
  </div>
</div>

